/* Andika and Arvo fonts from GoogleFonts */
@import url("https://fonts.googleapis.com/css2?family=Andika:ital@0;1&family=Arvo:ital,wght@0,400;0,700;1,400&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background-color: #bb7cdf;
  font-family: "Andika", serif;
  font-size: larger;
  margin: 10px;
  margin-bottom: 75px;
}
h1,
h2,
h3 {
  font-family: "Arvo", sans-serif;
}
/* default max-width for all images @300px */
img {
  max-width: 300px;
}
/* class used to hide content for switching purposes */
.hide {
  display: none !important;
}
/* wrapper div for alignment of headings etc */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.disabled {
  pointer-events: none;
}
.screenSpace {
  height: 70vh;
}
.halfscreenSpace {
  height: 75vh;
}
.animalChoiceImg {
  position: absolute;
  width: 20vw;
  height: auto;
  opacity: 0;
}
.form {
  border: 5px solid white;
}
.largeText{
  font-size: 1.3rem;
}
#introDiv {
  min-height: 600px;
}
#imgTopLeft {
  top: 25vh;
  left: 15vw;
}
#imgTopRight {
  top: 25vh;
  right: 15vw;
}
#imgBottomLeft {
  bottom: 25vh;
  left: 20vw;
}
#imgBottomRight {
  bottom: 25vh;
  right: 20vw;
}

#introImage {
  display: none;
  max-height: 35vh;
  object-fit: cover;
}

#introButtonDiv {
  position: relative;
  margin-left: auto;
  bottom: 5px;
}
#popQuiz {
  height: 70vh;
}
#videoDiv {
  display: none;
}
#factDiv {
  display: none;
}
/* Styles for the menu buttons */
#navBtnDiv {
  position: fixed;
  height: 250px;
  width: 55px;
  bottom: 50px;
  left: 10px;
  
}
#nextFactBtn {
  width: 40vw;
}
/* apply to all buttons and a ref in the navBtnDiv */
#navBtnDiv button, #navBtnDiv a{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px;  
  left:0px;
  height: 50px;
  width: 50px;
  padding: 0;
}
.btnLabel{
  margin-top: 0rem;
  font-size: 0.8rem;
}
#galleryBtn{  
  bottom: 220px;
}
#quizBtn { 
  bottom: 165px;
}
#videoBtn { 
  bottom: 110px;
}
#restartBtn{  
  bottom: 55px;
}
/* The menu button for navigation */
#optionBtn{
  left: 0px;
  bottom: 0px;
  border: 2px;
}
/* gallery page */
/* carousel */
.carousel-item {
  height: 33vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
}
/* gallery layout */
.galleryGrid {
  column-count: 1;
}
.imgContainer {
  position: relative;
  break-inside: avoid;
  overflow: hidden;
}
.imgContainer img {
  width: 100%;
  height: auto;
  display: block;
}

/* ID for the sticky button for audio mute toggling
high z-index to ensure it does not get painted over! */
#audioButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
#imgSelect {
  width: 100vh;
  opacity: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
/* This styling is to create the banner which welcomes the user */
#introBanner {
  bottom: 0vh;
  opacity: 0;
  background-color: aqua;
}
#headingTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
}
/* CSS to disable other touch actions for the canvas */
/* https://stackoverflow.com/questions/38958354/explain-situation-when-you-might-use-touch-action-manipulation */
#drawingCanvas {
  touch-action: none;
}

/* media queries */
/* media query for Gallery columns */
@media (min-width: 700px) {
  .galleryGrid {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .galleryGrid {
    column-count: 3;
  }
}
