/* Andika and Arvo fonts from GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital@0;1&family=Arvo:ital,wght@0,400;0,700;1,400&display=swap');


body{
    background-color:  #bb7cdf;
    font-family: "Andika", serif;
}
h1,h2,h3{
    font-family: "Arvo", sans-serif;
}
/* default max-width for all images @300px */
img{
    max-width: 300px;
}
/* class used to hide content for switching purposes */
.hide{
    display: none;
}
/* wrapper div for alignment of headings etc */
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* ID for the sticky button for audio mute toggling
high z-index to ensure it does not get painted over! */
#audioButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}
#imgSelect{
    width: 100vh;
    opacity: 0;
}
/* This styling is to create the banner which welcomes the user */
#introBanner{
    /* position: fixed; */
    /* top: 60%; */
    height: 20vh;
    background-color: aqua;
}
#headingTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}